*~
.DS_Store
*.csv
*.pyc
*.swp
*.egg-info
build
dist
.coverage
nosetests.xml
lettucetests.xml
coverage.xml
ghostdriver.log
.harvest
pep8.report
.env
*.sqlite
*.db
node_modules
.vagrant
example/rootAir.db
/bower_components
/settings_local.py
/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
/staticfiles
src/staticfiles
/API_Example.egg-info
/rootAir.db
/.idea/*
*.pyc
.idea
venv
staticfiles
